body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif !important;
}

.logo {
  margin-top: -25px;  
}

.navbar-brand {
  max-width: 200px;
}

.navbar-default {
  padding: 10px 0;
}

.custom-input {
  padding: 20px !important;
  min-width: 300px;
}

.custom-btn {
  width: 100px;
  padding: 10px !important;
}

.d-flex {
  display: inline-flex;
}

.fa {
  margin-right: 5px;
}

.border-line {
  border: 1px solid silver;
}

.mg-t-20 {
  margin-top: 20px;
}

ul {
  list-style-type: none;
}

.completed-item {
  text-decoration: line-through;
}

.glyphicon-search {
  left: 0;
}

.searchbar {
  width: 500px !important;
}

.delete-icon {
  position: relative;
  right: 20px !important;
  top: 1px;
  display: inline-block;
  cursor: pointer;
}

.book-item {
  margin: 10px;
  padding: 20px;
  /* border: 1px solid #333; */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.fa-star {
  color: #FD4;
}

.active-page {
  background-color: #4574ff;
  color: #fff;
  font-weight: bold;
}


/* Utill  css classes starts here */

.m-l-5 {
  margin-left: 5px;
}

.w-50 {
  width: 50%;
}

.w-200 {
  width: 200px;
}

.m-r-13 {
  margin-right: 13px;
}

.f-20 {
  font-size: 20px;
}

.capitalize {
  text-transform: capitalize;
}

/* Utill  css classes ends here  */